
    <div class="row">
        <div class='col-md-12' style="padding: 0;">  
            <ngb-carousel>  
                <ng-template ngbSlide>  
                    <img height="400" class="img-fluid" src="https://scholarships.gov.in/img/3.jpg" alt="Delhi Metro">  
                    <div class="carousel-caption">  
                        <!-- <h3 style="color: yellow">Delhi Metro</h3> -->
                    </div>
                </ng-template>
                <ng-template ngbSlide>  
                    <img class="img-fluid" height="400" src="https://scholarships.gov.in/img/2--.jpg" alt="Delhi Metro">  
                    <div class="carousel-caption">  
                        <!-- <h3 style="color: yellow">Delhi Metro</h3> -->
                    </div>
                </ng-template>
                <ng-template ngbSlide>  
                    <img height="400" class="img-fluid" src="https://scholarships.gov.in/img/Scholarship.jpg" alt="Delhi Metro">  
                    <div class="carousel-caption">  
                        <!-- <h3 style="color: yellow">Delhi Metro</h3> -->
                    </div>
                </ng-template>
            </ngb-carousel>  
        </div> 
    </div>  

       