<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="input-icons">
                <i class="fa fa-arrow-circle-o-left fa-lg mt-2 ml-3 pt-1" aria-hidden="true" style="color: #fff;"></i>
                <button class="btn btn-primary px-5" (click) = "studentDashboard()">Dashboard</button>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="card card-body mx-auto align-center">
            <h4 class="text-center mt-2">APPLY FOR SCHOLARSHIP</h4> 
                <form #frm="ngForm" (ngSubmit)="applyScholarshipById(scholarshipid)"> 
                    
                    <div class="align-center">
                        <label>Select Scholarship</label>
                        <select class="form-control" [(ngModel)]="scholarshipid" name="schId" #schId="ngModel" required>
                           <option *ngFor="let sch of scholarships" ngValue={{sch.scholarshipId}}>{{sch.scholarshipId}} - {{sch.scholarshipName}}</option>
                        </select>
                        <div class="alert alert-danger align-center" *ngIf="schId.invalid && schId.touched">Select Scholarship</div>
                    </div>

                    <div class="align-center text-center">
                        <input type="submit" value="Apply For Scholarship" [disabled]="!frm.valid" class="btn btn-primary  btn-shape mt-3 px-3 py-2">
                    </div>
                
                </form>
                <div>
                    <h6>View All Scholarships</h6>
                    <a class="nav-link align-center link-style" routerLink="viewScholarship">Click here</a>
                </div>
        </div> 
    </div>   
</div>
<router-outlet></router-outlet>

