<br><br>
<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <button class = "btn btn-danger" (click) = "dashboard()">Dashboard</button>
    </div>

</div>


<br><br>

<h3>GRANT SCHOLARSHIP</h3>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
<table class="table  table-hover table-responsive ">
    <tr>
        <th>Student Id</th>
        <th>Full Name</th>
        <th>Mobile No</th>
        <th>Email Id</th>
        <th>Aadhar card no</th>
        <th>Field</th>
        <th>Course</th>
        <th>App Status</th>
        <th>Check Student</th>
    </tr>

    <ng-container *ngFor="let stu of students">
    <ng-container *ngIf = "stu.appStatus !== undefined && stu.approval!== undefined">
    <tr>
        <td>{{stu.studentId}}</td>
        <td>{{stu.fullName}}</td>
        <td>{{stu.mobile}}</td>
        <td>{{stu.email}}</td>
        <td>{{stu.aadhar}}</td>
        <td>{{stu.field}}</td>
        <td>{{stu.course}}</td>
        <td [ngStyle]="{'background':getColor(stu.appStatus,stu.approval)}">{{stu.appStatus}}</td>
        <td><button class = "btn btn-danger" (click) = "check(stu)"> Check </button></td>
    </tr>
    
    </ng-container>
    </ng-container>
</table>
</div>
<div class="col-md-2"></div>
</div>


