<div class="col-md-6 text-center">
    <h2 class="text-center">Add Student</h2>
    <br>
    <form #frm="ngForm" (ngSubmit)="addStudent()">
        <div class="align-center">
           <input type="text" placeholder="Enter Userid" id="id" name="sid" [(ngModel)]="stu.userId" class="form-control" required>
        </div>
          
        <div class="align-center">
            <input type="password" placeholder="Enter Password" id="pass" name="spass" [(ngModel)]="stu.password" class="form-control" required>
        </div>
         
        <div class="align-center">
            <input type="text" placeholder="Enter Role" id="role" name="srole" [(ngModel)]="stu.role"  class="form-control" required>
        </div>

        <div class="align-center">
            <input type="number" placeholder="Enter Student Id" id="studentId" name="sstudentId" [(ngModel)]="stu.studentId" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Student Name" id="name" name="sname" [(ngModel)]="stu.fullName" class="form-control">
        </div>

        <div class="align-center">
            <input type="date" placeholder="Enter Dob (yyyy-mm-dd)" id="dob" name="sdob" [(ngModel)]="stu.birthDate" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Gender" id="gender" name="sgender" [(ngModel)]="stu.gender" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Student Mobile No" id="mobile" name="smobile" [(ngModel)]="stu.mobile" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Student Email Id" id="email" name="semail" [(ngModel)]="stu.email" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Address" id="address" name="saddress" [(ngModel)]="stu.address" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter City" id="city" name="scity" [(ngModel)]="stu.city" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Student Aadhar Card No" id="aadhar" name="saadhar" [(ngModel)]="stu.aadhar" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Field (Engineering, Medical, Law,...)" id="field" name="sfield" [(ngModel)]="stu.field" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Course (BE, BTech, MBA, MTech, MBBS, LLB,...)" id="course" name="scourse" [(ngModel)]="stu.course" class="form-control">
        </div>

        <div class="align-center">
            <input type="number" placeholder="Enter Course Year" id="courseYear" name="scourseYear" [(ngModel)]="stu.courseYear" class="form-control">
        </div>

        <div class="align-center">
            <input type="number" placeholder="Enter SSC Score" id="ssc" name="sssc" [(ngModel)]="stu.sscScore" class="form-control">
        </div>

        <div class="align-center">
            <input type="number" placeholder="Enter HSC Score" id="hsc" name="shsc" [(ngModel)]="stu.hscScore" class="form-control">
        </div>

        <div class="align-center">
            <input type="number" placeholder="Enter Family Income" id="income" name="sincome" [(ngModel)]="stu.familyIncome" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Bank Name" id="bankName" name="sbankName" [(ngModel)]="stu.bankName" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Bank Ifsc Code" id="bankIfsc" name="sbankIfsc" [(ngModel)]="stu.bankIfsc" class="form-control">
        </div>

        <div class="align-center">
            <input type="text" placeholder="Enter Account No" id="accountNo" name="saccountNo" [(ngModel)]="stu.accountNo" class="form-control">
        </div>  
        <br>

        <div class="align-center">
            <input type="submit" value="Add Student" [disabled]="!frm.valid" class="btn btn-primary">
        </div>
    </form>
</div>
<br><br>