<div class="container">
    <div class="col-md-12">
        <br>
        <div class="card card-body mx-auto">
            <h4 class="text-center mt-2">ADD STUDENT</h4>
            <form #frm="ngForm" (ngSubmit)="addStudent()"> 

                <div class="align-center">
                    <label>Enter User ID</label>
                    <input type="text" placeholder="User Id" id="id" name="sid" [(ngModel)]="student.userId" #sid="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="sid.invalid && sid.touched">UserId is required.</div>
                </div>

                <div class="align-center">
                    <label>Enter Password</label>
                    <input type="password" placeholder="Password" id="pass" name="spass" [(ngModel)]="student.password" #spass="ngModel" class="form-control" required minlength="4">
                        <div class="alert alert-danger align-center" *ngIf="spass.invalid && (spass.dirty || spass.touched)">
                        <div *ngIf="spass.errors?.required">Password is required.</div>
                        <div *ngIf="spass.errors?.minlength">Password must be at least 4 characters long.</div>
                    </div>
                </div>
            
                <div class="align-center">
                    <label>Enter Student Id</label>
                    <input type="number" placeholder="Student Id" id="studentId" name="sstudentId" [(ngModel)]="student.studentId" #sstudentId="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="sstudentId.invalid && sstudentId.touched">Student Id cannot be empty</div>
                </div>
              
                <div class="align-center">
                    <label>Enter Student Name</label>
                    <input type="text" placeholder="Student Name" id="name" name="sname" [(ngModel)]="student.fullName" #sname="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="sname.invalid && sname.touched">Student Name cannot be empty</div>
                </div>

                <div class="align-center">
                    <label>Enter Date of Birth</label>
                    <input type="date" placeholder="Dob" id="dob" name="sdob" [(ngModel)]="student.birthDate" #sdob="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="sdob.invalid && sdob.touched">Student BirthDate cannot be empty</div>
                </div>
               
                <div class="align-center">
                    <label>Gender</label>
                    <br>
                    <input type="radio" value="Male" id="gender" name="sgender" [(ngModel)]="student.gender" #sgender="ngModel" required> Male
                    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    <input type="radio" value="Female" id="gender" name="sgender" [(ngModel)]="student.gender" #sgender="ngModel" required> Female
                    <br>
                    <div class="alert alert-danger align-center"  *ngIf="sgender.invalid && sgender.touched">Select Gender</div>
                </div>
               
                <div class="align-center">
                    <label>Enter Student Mobile No</label>
                    <input type="text" placeholder="Student Mobile No" id="mobile" name="smobile" [(ngModel)]="student.mobile" #smobile="ngModel" class="form-control" required [pattern]="mobNumberPattern">
                    <div class="alert alert-danger align-center"  *ngIf="smobile.invalid && (smobile.dirty || smobile.touched)">
                        <div *ngIf="smobile.errors?.required">Student Mobile no cannot be empty</div>
                        <div *ngIf="smobile.errors?.pattern">Mobile number not valid.</div>
                    </div>
                </div>

                <div class="align-center">
                    <label>Enter Student Email Id</label>
                    <input type="email" placeholder="Student Email Id" id="email" name="semail" [(ngModel)]="student.email" #semail="ngModel" class="form-control" required [pattern]="emailPattern">
                    <div class="alert alert-danger align-center"  *ngIf="semail.invalid && (semail.dirty || semail.touched)">
                        <div *ngIf="semail.errors?.required">Student Email Id cannot be empty</div>
                        <div *ngIf="semail.errors?.pattern">Email Id not valid</div>
                    </div>
                </div>
           
                <div class="align-center">
                    <label>Enter Address</label>
                    <input type="text" placeholder="Address" id="address" name="saddress" [(ngModel)]="student.address" #saddress="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="saddress.invalid && saddress.touched">Address cannot be empty</div>
                </div>
               
                <div class="align-center">
                    <label>Enter City</label>
                    <input type="text" placeholder="City" id="city" name="scity" [(ngModel)]="student.city" #scity="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="scity.invalid && scity.touched">City cannot be empty</div>
                </div>
               
                <div class="align-center">
                    <label>Enter Aadhar Card No</label>
                    <input type="text" placeholder="Aadhar Card No" id="aadhar" name="saadhar" [(ngModel)]="student.aadhar" #saadhar="ngModel" class="form-control" [pattern]="aadharPattern">
                    <div class="alert alert-danger align-center"  *ngIf="saadhar.invalid && (saadhar.dirty || saadhar.touched)">
                        <div *ngIf="saadhar.errors?.required">Student Aadhar No cannot be empty.</div>
                        <div *ngIf="saadhar.errors?.pattern">Enter 12 digits valid Aadhar No.</div>
                    </div>    
                </div>

                <div class="align-center">
                    <label>Select Field</label>
                    <select name="sfield" id="field" [(ngModel)]="student.field" class="form-control" #sfield="ngModel" required>
                        <!-- <option value="">Select Field</option> -->
                        <option value="Engineering">Engineering</option>
                        <option value="Medical">Medical</option>
                        <option value="Law">Law</option>
                    </select>
                    <div class="alert alert-danger align-center"  *ngIf="sfield.invalid && sfield.touched">Field cannot be empty</div>
                </div>
              
                <div class="align-center">
                    <label>Enter Course</label>
                    <input type="text" placeholder="Course (BE, BTech, MBA, MTech, MBBS, LLB,...)" id="course" name="scourse" [(ngModel)]="student.course" #scourse="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="scourse.invalid && scourse.touched">Course cannot be empty</div>
                </div>
                
                <div class="align-center">
                    <label>Enter Course Year</label>
                    <input type="number" placeholder="Course Year (1-5)" id="courseYear" name="scourseYear" [(ngModel)]="student.courseYear" #scourseYear="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="scourseYear.invalid && scourseYear.touched">Course Year cannot be empty</div>
                </div>
               
                <div class="align-center">
                    <label>Enter SSC Score</label>
                    <input type="number" placeholder="SSC Score (in %)" id="ssc" name="sssc" [(ngModel)]="student.sscScore" #sssc="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="sssc.invalid && sssc.touched">SSC Score cannot be empty</div>
                </div>
                
                <div class="align-center">
                    <label>Enter HSC Score</label>
                    <input type="number" placeholder="HSC Score (in %)" id="hsc" name="shsc" [(ngModel)]="student.hscScore" #shsc="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="shsc.invalid && shsc.touched">HSC Score cannot be empty</div>
                </div>
               
                <div class="align-center">
                    <label>Enter Family Income</label>
                    <input type="number" placeholder="Family Income" id="income" name="sincome" [(ngModel)]="student.familyIncome" #sincome="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="sincome.invalid && sincome.touched">Family Income cannot be empty</div>
                </div>
               
                <div class="align-center">
                    <label>Enter Bank Name</label>
                    <input type="text" placeholder="Bank Name" id="bankName" name="sbankName" [(ngModel)]="student.bankName" #sbankName="ngModel" class="form-control" required>
                    <div class="alert alert-danger align-center"  *ngIf="sbankName.invalid && sbankName.touched">Bank Name cannot be empty</div>
                </div>
                
                <div class="align-center">
                    <label>Enter Bank Ifsc Code</label>
                    <input type="text" placeholder="Ifsc Code (11 characters)" id="bankIfsc" name="sbankIfsc" [(ngModel)]="student.bankIfsc" #sbankIfsc="ngModel" class="form-control" required [pattern]="bankIfscPattern">
                    <div class="alert alert-danger align-center"  *ngIf="sbankIfsc.invalid && (sbankIfsc.dirty || sbankIfsc.touched)">
                        <div *ngIf="sbankIfsc.errors?.required">Bank Ifsc Code cannot be empty.</div>
                        <div *ngIf="sbankIfsc.errors?.pattern">Ifsc Code not valid.</div>
                    </div>    
                </div>
              
                <div class="align-center">
                    <label>Enter Bank Account No</label>
                    <input type="text" placeholder="Account No" id="accountNo" name="saccountNo" [(ngModel)]="student.accountNo" #saccountNo="ngModel" class="form-control" required> 
                    <div class="alert alert-danger align-center"  *ngIf="saccountNo.invalid && saccountNo.touched">Account No cannot be empty</div>
                </div>
                
                <div class="align-center text-center">
                    <input type="submit" value="Register" [disabled]="!frm.valid" class="btn btn-primary btn-shape mt-3 px-3 py-2">
                </div>          
            </form>
        </div>
        <br><br>
    </div>
</div>