<div class="container-fluid h-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light row">
          <a class="hide-logo" href="#">
              <img src="../assets/cap.png" width="100" height="80" class="d-inline-block align-top hide-logo" alt="">
           
              <div style="display: inline-block; margin: 6px;">
                <h5 class="text-display">NATIONAL SCHOLARSHIP</h5>
                <h5 style="color: #900f0f;">APPLICATION</h5>
              </div>
            </a>
          <a class="hide-logo-small" href="#">
              <img src="../assets/cap.png" width="70" height="60" class="d-inline-block align-top hide-logo-small" alt="">
              <div style="display: inline-block; margin: 6px;">
                <h6 class="text-display">NATIONAL SCHOLARSHIP</h6>
                <h6 style="color: #900f0f;">APPLICATION</h6>
              </div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" style="color: #900f0f; font-weight: bold;" routerLink="institution/login" (click) = "onSelect()">INSTITUTION </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: #900f0f; font-weight: bold;" routerLink="student/login">STUDENT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: #900f0f; font-weight: bold;" routerLink="officer/login" (click) = "onSelect()">OFFICER</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: #900f0f; font-weight: bold;" href="ministry/login">MINISTRY</a>
                </li>
              </ul>
            </div>
    </nav>
    <div class="row" [hidden] = "isHidden" id="marquee">
      <div class="col-md-12 navbar-dark bg-dark">
          <marquee>Welcome to National Scholarship Application! Click here for <a><b>scholarship details</b></a></marquee>
      </div>
  </div>
  <div class="row">
      <div class="jumbotron text-center image-style" id="jumbotron" [hidden] = "isHidden">
        <h2 class="display-4 text-style">
          NATIONAL SCHOLARSHIP APPLICATION
          <hr style="color: #fff; font-weight: 700;">
        </h2>
      </div>
  </div>
   <!-- <a class="nav-link" routerLink="viewScholarship">View Scholarship</a>
  <a class="nav-link" routerLink="addScholarship">Add Scholarship</a>  -->
  <!-- <a class="nav-link" routerLink="viewStudent">View Students</a> -->
  <!-- <a class="nav-link" routerLink="addStudent">Add Students</a> --> 
  <!-- <a class="nav-link" routerLink="add">Add institute</a> -->
  <router-outlet></router-outlet>
</div>
