<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light row">
      <!-- <div class="col-sm-8"> -->
          <a class="hide-logo" href="#">
              <img src="../assets/logo.png" width="300" height="60" class="d-inline-block align-top hide-logo" alt="">
              <!-- BMSIT -->
          </a>
          <a class="hide-logo-small" href="#">
              <img src="../assets/logo.png" width="200" height="40" class="d-inline-block align-top hide-logo-small" alt="">
              <!-- BMSIT -->
          </a>
      <!-- </div> -->
      <!-- <div class="col-sm-4"> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" style="color: #900f0f; font-weight: bold;" href="#">FACULTY <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: #900f0f; font-weight: bold;" href="#">STUDENT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: #900f0f; font-weight: bold;" href="#">CAREERS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: #900f0f; font-weight: bold;" href="#">ALUMNI</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: #900f0f; font-weight: bold;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    QUICK LINKS
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">action</a>
                    <a class="dropdown-item" href="#">Action</a>
                  </div>
                </li>
              </ul>
            </div>
      <!-- </div> -->
    </nav>
    <div class="row">
      <div class="col-md-12 navbar-dark bg-dark">
          <marquee>Welcome to BMSIT&M! Click here for <a><b>transportation details</b></a></marquee>
      </div>
  </div>
  <div class="row">
    <!-- <div class="col-lg-12"> -->
      <div class="jumbotron text-center image-style">
        <h2 class="display-4 text-style">
          NATIONAL SCHOLARSHIP APPLICATION
          <hr style="color: #fff; font-weight: 700;">
        </h2>
        
      </div>
    <!-- </div> -->
  </div>
  
  <a class="nav-link" routerLink="viewStudent">View Students</a>
  <a class="nav-link" routerLink="addStudent">Add Students</a>
  <router-outlet></router-outlet>
</div>
