<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
              <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="viewall">All Institutes&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a class="nav-item nav-link" routerLink="viewbyid">My profile&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a class="nav-item nav-link" routerLink="updateinstitute">Update profile&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a class="nav-item nav-link" routerLink="logout">Logout</a>
              </div>
            <!-- </div> -->
          </nav>
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body hide-card">
        <div class="welcome-card">
          <img class="img-fluid" src="../../../assets/students.jpg" alt="students">
        </div>
      </div>
      <div class="card-footer">
        <a class="nav-item nav-link card-link" [routerLink]="['viewStudents', name]"><b>Click here</b> to view all students from {{name}}</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header text-center">
        <h4 class="text-color">
          WELCOME 
        </h4>
        <p class="text-format mb-n2 text-color">
          {{name}}
        </p>
      </div>
      <div class="card-body">
        <div class="welcome-card">
          <img class="img-fluid welcome-img" src="../../../assets/college.jpg" alt="institution">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body hide-card">
        <div class="welcome-card">
          <img class="img-fluid" src="../../../assets/bg1.jpg" alt="students">
        </div>
      </div>
      <div class="card-footer">
        <a class="nav-item nav-link card-link" routerLink="viewScholarship"><b>Click here</b> to view all scholarship details</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
