<div class="container">
    <div class="col-md-12">
        <div class="card card-body mx-auto align-center">
            <h4 class="text-center mt-2">SELECT INSTITUTION</h4>
            <form #frm="ngForm" (ngSubmit)="updateInstitutionDetails(institutionName)">
                
                <div class="align-center">
                    <label>Select Institution Name</label>
                    <select class="form-control dropdown" [(ngModel)]="institutionName" name="insname" #insname="ngModel" required>
                       <option *ngFor="let ins of institutes" ngValue={{ins.name}}>{{ins.name}}</option>
                    </select>
                   <div class="alert alert-danger align-center" *ngIf="insname.invalid && insname.touched">Select Institution Name</div>
                </div>

                <div class="align-center text-center">
                    <input type="submit" value="Submit" [disabled]="!frm.valid" class="btn btn-primary btn-shape mt-3 px-3 py-2">
                </div>
            </form>
        </div>
    </div>
</div>
