<div class="container col-md-6">
    <!-- <div class="col-md-12"> -->
        <h3 class="text-center">Update Institution</h3>   
        <form #frm="ngForm" (ngSubmit)="updateInstitutionDetails(institutionName)">   
           <div class="align-center">
            <h5>Institution Name</h5>
            <!-- <input type="text"  placeholder="Enter institution Name" id="name" name="insname" [(ngModel)]="institutionName" class="form-control"> -->
           </div>
           <select class="form-control" [(ngModel)]="institutionName" name="insname">
               <option *ngFor="let ins of institutes" ngValue={{ins.name}}>{{ins.name}}</option>
           </select>
            <br>
            <div class="align-center">
                <input type="submit" value=" Edit Institution" [disabled]="!frm.valid" class="btn btn-primary">
            </div>
        </form>
    <!-- </div> -->
</div>
