<p>view-scholarship works!</p>
<h1>
    Scholarship Info
  </h1>
  <table class="table">
    <tr>
      <th>scholarshipId</th>
      <th>scholarshipName</th>
      <th>sscScoreCriteria</th>
      <th>hscScoreCriteria</th>
      <th>familyIncomeCriteria</th>

    </tr>
    <tr *ngFor="let schol of scholarship">
      <td>{{ schol.scholarshipId }}</td>
      <td>{{ schol.scholarshipName }}</td>
      <td>{{ schol.sscScoreCriteria}}</td>
      <td>{{ schol.hscScoreCriteria}}</td>
      <td>{{ schol.familyIncomeCriteria}}</td>

  
    </tr>
  </table>
