<div class="table-responsive" style="background-color: #fff;">
    <table class="table table-condensed table-hover table-responsive table-bordered ">
        <thead>
            
            <tr>
                <th>Institution code</th>
                <th>Name</th>
                <th>State</th>
                <!-- <th>Telephone</th> -->
                <th>Principal</th>
                <th>Application status</th>
                
            </tr>
        
        </thead>
        <tbody>
            <!-- <tr *ngFor = "let institute of institutes"> -->
            <ng-container *ngFor = "let institute of institutes">
                <tr *ngIf = "institute.code !== undefined && institute.userId !== undefined">
                    <td>{{institute.code}}</td>
                    <td>{{institute.name}}</td>
                    <td>{{institute.state}}</td>
                    <!-- <td>{{institute.telephone}}</td> -->
                    <td>{{institute.principal}}</td>
                    <td>{{institute.status}}</td>
                    <!-- <td>{{institute.approval}}</td> -->
                    <td><a class="btn btn-primary" [routerLink]="['institute', institute.code]">View all details</a></td>
                    <td><button class="btn btn-success" (click)="updateStatus(institute.code, 'Approved', institute.userId)">Approve</button></td>
                    <td><button class="btn btn-danger" (click)="updateStatus(institute.code, 'Rejected', institute.userId)">Reject</button></td>
                </tr>
            </ng-container>
       
            
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
