<div class="col-md-10 text-center">
    <h2 class="text-center">Login</h2>
    <br>
    <form #frm="ngForm" (ngSubmit)="login()">
        <div class="align-center">
           <input type="text" placeholder="Enter Userid" id="id" name="uid" [(ngModel)]="user.userId" class="form-control" required>
        </div>
          
        <div class="align-center">
            <input type="password" placeholder="Enter Password" id="pass" name="upass" [(ngModel)]="user.password" class="form-control" required>
        </div>

        <!-- <div class="align-center">
            <input type="text" placeholder="Enter Role" id="role" name="urole" [(ngModel)]="user.role" class="form-control" required>
        </div> -->
        <br>

        <div class="align-center">
            <input type="submit" value="login" [disabled]="!frm.valid" class="btn btn-primary">
        </div>
    </form>
</div>
<!-- <div *ngFor = "let path of paths"> -->
    <a class="nav-link" [routerLink] = "[path]">New user registration</a>
<!-- </div> -->

<br><br>