<p>ministry-dashboard works!</p>

<div class="row" id="dashboard">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
            <div class="navbar-nav">
                <!--<a class="nav-item nav-link" routerLink="add-ministry">Add Ministry</a>-->
                <a class="nav-item nav-link" routerLink="view-ministry">View Ministry</a>
                <a class="nav-item nav-link" routerLink="grant-scholarship">Grant</a>
                <a class="nav-link" routerLink="addScholarship">Add Scholarship Details</a>
                

            </div>
            

        </nav>
    </div>
</div>
<router-outlet></router-outlet>
