<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
      <button class = "btn btn-danger" (click) = "dashboard()">Dashboard</button>
  </div>

</div>



<h2>MINISTRY</h2>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <table class="table table-hover table-responsive table-striped">
      <thead>
        <tr style="background-color: rgb(131, 101, 80); color: cornsilk;font-weight: 100px; text-align: left;">
          <th >UserId</th>
          <th>Portfolio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ministry of ministries">
          <td>{{ministry.userId}}</td>
          <td>{{ministry.portfolio}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4"></div>
</div>

  
  <br>
