
<div class="row">
    <div class="col-md-12">
<table class="table table-condensed table-hover table-responsive ">
    <tr>
        <th>Student Id</th>
        <th>Full Name</th>
        <th>Mobile No</th>
        <th>Email Id</th>
        <th>Aadhar card no</th>
        <th>Field</th>
        <th>Course</th>
    </tr>

    <tr *ngFor="let stu of students" >
        <td>{{stu.studentId}}</td>
        <td>{{stu.fullName}}</td>
        <td>{{stu.mobile}}</td>
        <td>{{stu.email}}</td>
        <td>{{stu.aadhar}}</td>
        <td>{{stu.field}}</td>
        <td>{{stu.course}}</td>
        <!--<td><button class = "btn btn-danger" (click) = "grantScholarship(stu)" > Grant </button></td>-->
        <td><button class = "btn btn-danger" (click) = "check(stu)"> Check </button></td>
    </tr>
</table>
</div>
</div>


