<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            
              <div class="navbar-nav">
                <a class="nav-item nav-link " routerLink="view">ViewAll Officers</a>
               <a class="nav-link" routerLink="grantApproval">Grant Approval for a Student</a>
               <a class="nav-link" routerLink="updateStatus">Update Status of Institution</a>
               <a class="nav-link" routerLink="updateOfficer">Update Officer</a>

  
              </div>
            <!-- </div> -->
          </nav>
          
    </div>
    <div class="align-center">
      <!-- [(ngModel)] = emp.id -> 2 way binding i.e; whatever we're entering in frontend will also get added to backend -->
      <input type="text" placeholder="enter userid" id="id" name="uid" [(ngModel)]="userId">
    </div>
    <a class="btn btn-primary" [routerLink]="['updateOfficer', userId]">View Officer By Id</a>
  
    
</div>
<router-outlet></router-outlet>

