<div class="row">
  <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
          <div class="navbar-nav">
            <a class="nav-item nav-link " routerLink="view">View All Officers</a>
            <a class="nav-link" routerLink="grantApproval">Grant Approval for a Student</a>
            <a class="nav-link" routerLink="updateStatus">Update Status of Institution</a>
            <a class="nav-link" routerLink="updateOfficer">Update Officer</a>
            <a class="nav-link" routerLink="addOfficer">New Officer Registeration</a>
            <div class ="nav navbar navbar-right">
              <a class="nav-link" routerLink="logout">Logout</a>
            </div>
          </div>          
      </nav>
  </div>
</div>

<div class="row h-100">
  <div class="col-sm-12">
    <div class="card card-block mx-auto info-container text-center"> 
      <h4 class="">Welcome</h4>
      <span class="material-icons">person</span>                
      <h4>{{name}}</h4>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
