<div class="container">
    <table class="table table-responsive">
        <tr>
            <th>Code</th>
            <td>{{institution.code}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{institution.name}}</td>
        </tr>
        <tr>
            <th>Principal</th>
            <td>{{institution.principal}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{institution.address}}</td>
            <td>{{institution.city}}</td>
            <td>{{institution.state}}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{institution.telephone}}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{institution.category}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{institution.type}}</td>
        </tr>
        <tr>
            <th>University</th>
            <td>{{institution.university}}</td>
        </tr>
        <tr>
            <th>Opening year</th>
            <td>{{institution.yearOpen}}</td>
        </tr>
        <tr>
            <th>Application status</th>
            <td>{{institution.status}}</td>
        </tr>
    </table>
</div>

