<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body mx-auto">
                <form #frm="ngForm" (ngSubmit)="updateStudentPassword(userId, password)">
                    <div class="align-center">
                        <label>Enter User ID</label>
                        <input type="text" placeholder="User ID" id="id" name="uid" [(ngModel)]="userId" #uid="ngModel" class="form-control" required>
                        <div class="alert alert-danger align-center" *ngIf="uid.invalid && uid.touched">User ID cannot be empty</div>
                      </div>
                    <div class="align-center">
                        <label>Enter New Password</label>
                        <input type="password" placeholder="New Password" id="pass" name="upass" [(ngModel)]="password" #upass="ngModel" class="form-control" required>
                        <div class="alert alert-danger align-center" *ngIf="upass.invalid && upass.touched">Password cannot be empty</div>
                      </div>
                      <div class="align-center">
                        <label>Confirm Password</label>
                        <input type="password" placeholder="Confirm Password" id="cpass" name="ucpass" [(ngModel)]="confirmPassword" #ucpass="ngModel" class="form-control" required>
                        <div  class="alert alert-danger align-center" *ngIf = "password !== confirmPassword">Passwords don't match</div>
                      </div>

                      <div class="align-center text-center">
                        <input type="submit" value="Change Password" [disabled]="!frm.valid" class="btn btn-primary btn-shape mt-3 px-3 py-2">
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>

