.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 50%;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 983px) {
    .input-field {
        width: 100%;
    }
}

.btn {
    box-shadow: 0px 3px 17px -7px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 0px 3px 17px -7px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 0px 3px 17px -7px rgba(0,0,0,0.75) inset;
}

.align-center {
    margin: 2%;
}

.dropdown {
    width: 96%;
    margin-left: 2%;
}

.card {
    width: 50%;
    box-shadow: 0px 3px 17px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 17px -4px rgba(0,0,0,0.75);
}

@media screen and (max-width: 992px) {
    .card {
        width: 100%;
    }
}

input[type = text], select {
    border-radius: 2px;
}

h4 {
    color: #900f0f;
}

.btn-shape {
    border-radius: 20px;
}