

<h3>
    Officer Details
  </h3>
  <input [(ngModel)] ="searchText" placeholder ="search by name/state">
  <table class="table">
    <tr>
      <th>UserId</th>
      <th>Password</th>
      <th>Role</th>
      <th>Name</th>
      <th>State</th>
      
    </tr>
    <tr *ngFor="let officer of officers|filter:searchText">
      <td>{{ officer.userId }}</td>
      <td>{{ officer.password }}</td>
      <td>{{ officer.role }}</td>
      <td>{{ officer.name }}</td>
      <td>{{ officer.state }}</td>

    </tr>
  </table>

  

  
  